@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background-color: black;
    color: #fff;
}

#kaisu {
    font-size: 50px;
    position: absolute;
    color: #fff;
    left: 125px;
    top: 450px;
}

.kaisuu {
    color: #fff;
}

.nixie_image {
    position: relative;
    display: flex;
}

.nixie_image img {
    margin: 44px 2px;
}

.nixie_image p {
    position: absolute;
}

.nixie_image span {
    position: absolute;
}

.nixie_text {
    font-size: 85px;
     text-shadow: 0 0 0.05em #d45424, 0 0 0.05em #d45424, 0 0 0.05em #d45524,
                 0 0 0.1em #d45424, 0 0 0.1em #d45424, 0 0 0.1em #d45524,  /* 導線の輪郭 */
                 0 0 0.5em #d45424, 0 0 0.5em #d45424, 0 0 0.5em #d45524,  /* 導線の輪郭 */
                 0 0 0.5em #d45424, 0 0 0.5em #d45424, 0 0 0.5em #d45524,  /* 導線の輪郭 */
                 0 0.05em 0.01em #000;
}

.shadowtext {
    font-size: 85px;
    color: #34241c;
    z-index: -1;

}

.press {
    margin-left: 200px;
}

.text1 {
    left: 15px;
}

.textdot {
    left: 95px;
}

.text2 {
    left: 175px;
}

.text3 {
    left: 255px;
}

.text4 {
    left: 338px;
}

.text5 {
    left: 420px;
}

.text6 {
    left: 500px;
}

.text7 {
    left: 582px;
}

.nixie_text {
    color: #d45424;
}

#sendmail {
    color: #d45424;
    z-index: 0;
}

.box {
    position: absolute;
    top: 250px;
    width        : 650px;
    height       : 100px;
    background   : linear-gradient(to bottom, #999999, #797079);
}

.send {
    position: relative;
    top: 70px;
}

.send:hover {
    cursor: pointer;
}

#idou {
    animation: fadeIn 5s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
